.page-content {
  --background: #316cae;
}

.full-screen-map {
  height: 70vh;
  width: 100%;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* Container fixo para a foto */
.equipment-photo-container {
  width: 100%;
  max-width: 300px;
  position: relative;
  margin-bottom: 1rem;
}

.equipment-photo-container img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.no-image-found {
  width: 100%;
  height: 200px; /* Mantém espaço fixo */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 8px;
  font-style: italic;
  color: #555;
}

.equipment-name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.stars-row {
  display: flex;
  gap: 5px;
  margin-bottom: 1rem;
}

.star-icon {
  font-size: 1.2rem;
  color: #ffbf00;
}

.closing-time {
  font-weight: bold;
  color: #d9534f;
  margin-bottom: 0.8rem;
  text-align: center;
}

.address-info {
  text-align: center;
  margin-bottom: 0.5rem;
}

.observation-info {
  text-align: center;
  margin-bottom: 1rem;
  font-style: italic;
}

.ir-loja-button {
  margin-bottom: 1rem;
  --background: #1f9956;
  --color: #000000;
  width: 90%;
}

.actions-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  cursor: pointer;
}

.action-item p {
  margin-top: 0.3rem;
  font-size: 0.7rem;
  text-align: center;
}
