/* Define a cor de fundo */
.ion-content-custom {
    --background: #316cae;
  }
  
  /* Caixa destacada */
  .caixa-destaque {
    background-color: lightgray;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
  }
  
  /* Estiliza botões */
  .botao-personalizado {
    background-color: #008100;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    display: block;
    margin: 10px auto;
    width: 90%;
    max-width: 300px;
  }
  
  .botao-personalizado:hover {
    background-color: #006d1b;
  }
  
  /* Ajuste do botão voltar */
  .voltar-button {
    margin-top: 20px;
    text-align: center;
  }
  