.centralizar-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    height: 50px;
    object-fit: contain;
  }
  
  
  .botao-personalizado {
    --background: white; 
    --color: #5985B6; 
    --border-color: #5985B6; 
    border-width: 2px; 
    font-weight: bold; 
  }

 
 .botao-voltar {
    margin-top: 1rem;
    width: 10px; /* Set the width of the button */
    align-self: center; /* Ensure the button is centered */
  }
    